:root {
    --main-brand-color: #df1797;
    --secondary-brand-color: #df1797;
    --txt-main-color: #000000;
    --btn-txt-main-color: #fff;
    --btn-txt-secondary-color: #df1797;
    --btn-main-color: #df1797;
    --btn-secondary-color: #fff;

    
    --qr-background-color: #fff; /* Color del background*/
    --txt-qr-color:#000000; /* Color del texto debajo del QR*/
    --btn-qr-color: #df1797; /* Color del boton de ver producto*/
    --btn-txt-qr-color: #fff; /* Color del texto del boton */
    --btn-qr-hover-color: #fff; /* Col,or del boton de ver producto en estado hover */
    --btn-txt-qr-hover-color: #df1797; /*Col,or del texto de ver productod en estado hover*/
    --txt-footer-color: #000000; /* Color de texto del footer de redireccion sin el link*/
    --txt-redirect-color: #000000; /* Color de texto de link de redireccion*/
}

@font-face {
    font-family: 'coaFontLight';
    src: url('./Roboto-Regular.ttf');
}

@font-face {
    font-family: 'coaFontBold';
    src: url('./Roboto-Bold.ttf');
}
@font-face {
    font-family: 'coaFontLightQR';
    src: url('./Roboto-Regular.ttf');
}

@font-face {
    font-family: 'coaFontBoldQR';
    src: url('./Roboto-Bold.ttf');
}
body{
    overflow: hidden;
}

.preloader-center .preloader-bg {
    background-image: url(../img/grilla.svg);
}
.preloader-center .loading-content span{
    display: none;
}

.preloader-center .loading-content {
    height: 65px;
}
.preloader-center .loading-content .logo-3d {
    background-image: url(../img/logo.svg);
    background-size: 280px;
    background-repeat: no-repeat;
    height: 65px;
    width: 280px;
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
}
.preloader .loading-indicator {
    width: 250px;
}
.start-ar-down .start-ar-logo {
    mask-image: url("../img/icon3d.svg");
    -webkit-mask-image: url("../img/icon3d.svg");
}

.start-ar-title-down span {
    font-family: 'coaFontLight' !important;
    font-size: 15px !important;
}


.start-ar-down span {

    font-family: 'coaFontBold';
}
.preloader .footer .logo {
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: 80px;
    height: 46px;
    width: 100px;
    display: inline-block;
    top: 30px;
    position: relative;
}

/*Rewrites */

.qr_logo{
    height: 150px;
    width: 300px;
    background-image: url(../img/logo.svg);
}

.qr_border{
    border: solid 1px var(--txt-qr-color);
}
.qr_view .qr_view--button {
    font-family: 'coaFontLightQR';
}