:root {
    --main-brand-color: #ffc72c;
    --secondary-brand-color: #ffc72c;
    --background-color: #062341;
    --txt-main-color: #fff;
    --btn-txt-main-color: #062341;
    --btn-txt-secondary-color: #062341;
    --btn-main-color: #ffc72c;
    --btn-secondary-color: #062341;

    --qr-background-color: #062341;/* Color del background*/
    --txt-qr-color:#fff; /* Color del texto debajo del QR*/
    --btn-qr-color: #ffc72c; /* Color del boton de ver producto*/
    --btn-txt-qr-color: #062341; /* Color del texto del boton */
    --btn-qr-hover-color: #062341; /* Col,or del boton de ver producto en estado hover */
    --btn-txt-qr-hover-color: #ffc72c; /*Col,or del texto de ver productod en estado hover*/
    --txt-footer-color: #fff; /* Color de texto del footer de redireccion sin el link*/
    --txt-redirect-color: #fff; /* Color de texto de link de redireccion*/
}

@font-face {
    font-family: 'coaFontLight';
    src: url('./Cambay-Bold.ttf');
}

@font-face {
    font-family: 'coaFontBold';
    src: url('./Cambay-Bold.ttf');
}



.preloader .loading-indicator {
    width:250px;
}

.preloader .footer span {
    font-family: 'coaFontLight';
}

.preloader-center .preloader-bg {
    background-image: url(../img/grilla.svg);
}

.preloader .footer .poweredby_ar {
    width: 180px;
}

.preloader-center .loading-content {
    height: 185px !important;
}

.preloader-center .loading-content .logo-3d {
    background-image: url(../img/logo.svg);
    background-size: 250px;
    background-repeat: no-repeat;
    height: 250px;
    width: 251px;
    display: inline-block;
    position: relative;
    top: 65px;
}

.start-360 .start-360-logo {
    mask-image: url("../img/icon_360.svg");
    -webkit-mask-image: url("../img/icon_360.svg");
}

.preloader .footer {
    font-size: 12px;
}


.preloader .footer .logo {
    background-image: url(../img/logo.svg);
    background-size: 50px;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    display: inline-block;
    top: 29px;
    position: relative;
    left: 2px;
}

.prompt-box-8w {
    font-family: 'coaFontLight';
    background-color: #fff !important;
}

.a-dialog-deny-button,
.prompt-button-8w:not(:last-child),
.a-dialog-allow-button,
.a-dialog-ok-button,
.button-primary-8w {
    font-family: 'coaFontLight' !important;
}
.preloader-center .loading, .preloader-center .error {
    margin: 0 auto;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preloader .footer .bold {
    font-family: 'coaFontLight';
    display: none;
}

.qr_logo{
    height: 100px;
    width: 200px;
    background-image: url('../img/logo_qr.svg');
    background-size: 200px;
}
.preloader-center .loading-content span {
    display: none;
}
.qr_border{
    border: 1px solid #fff;
    padding: 15px; 
}
